.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin: 20px;
}

.mainlogo img {
  max-width: 150px; 
  height: auto;
}

.buttons {
  display: flex;
  gap: 10px; 
}

.buttons button {
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

  .sideinfo {
    width: 250px;
    float: right;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }

  .socialmediaposts {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    max-width: 520px; 
    margin: 20px 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
  }
  
  .socialmediaposts img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px; 
  }
  
  .swiper {
    width: 100%;
    height: auto;
  }
  
  .swiper-slide img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
  }
  
  
  